[submodule "libs/purescript-web-extensions"]
	path = libs/purescript-web-extensions
	url = https://gitlab.com/d86leader/purescript-web-extensions
[submodule "libs/purescript-vanilla-web"]
	path = libs/purescript-vanilla-web
	url = https://github.com/d86leader/purescript-vanilla-web.git
